header{
        color: red;
        background-image: url('../assets/images/4fe60ae5-6e2e-4e21-9962-617a91f67aea.jpeg');
        background-repeat: no-repeat;
        height: 300px;
        background-size: contain;
}

.background{
        border: 2px green;
}

.consectetur{
        border: 2px green solid;
}